[submodule "Deps/asio"]
	path = Deps/asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "Deps/stb"]
	path = Deps/stb
	url = https://github.com/nothings/stb.git
[submodule "Deps/GLFW"]
	path = Deps/GLFW
	url = https://github.com/KaleniG/glfw-premake.git
[submodule "Deps/libjpeg-turbo"]
	path = Deps/libjpeg-turbo
	url = https://github.com/libjpeg-turbo/libjpeg-turbo.git
[submodule "Deps/obs-studio"]
	path = Deps/obs-studio
	url = https://github.com/obsproject/obs-studio.git
